/*
    FONT STUFF
 */
@font-face {

    font-family: "Pixelated MS Sans Serif 16px";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/pixel16.ttf) format("truetype");
}

@font-face {
    font-family: "Pixelated MS Sans Serif 16px";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/pixel16bold.ttf) format("truetype");
}

.font-13px {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
}

/*
    GENERAL STUFF
 */

.sunken-panel {
    margin-top: 12px;
    margin-bottom: 12px;
}

.sunken-panel table {
    width: 100%;
}


body {
    background: #008080;
}


.common-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    height: 100vh;
}


#main {
    flex-grow: 1;
    margin: 2px;
    overflow: hidden;
    min-height: 0;
}

h1, h2, h3, h4 {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none !important;
}

.field-stacked {
    display: flex;
    flex-direction: column
}

.filter-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
}


/*
    WINDOW STUFF
 */

/* Override the font used in windows from 98.css */
.title-bar, .window, button, input, label, legend, li[role=tab], option, select, table, textarea, ul.tree-view {
    font-size: 16px;
    font-family: "Pixelated MS Sans Serif 16px", Arial, sans-serif;
}

.window {
    display: flex;
    flex-direction: column;
}

.window-body {
    flex: 1;
    min-height: 0; /*If the window body is a flexbox this fixes weird behavior where the contents will not overflow properly*/
    overflow-y: auto;
}

.window-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90%;
    width: 100%;
}

.title-bar {
    flex-shrink: 0;
}

/*
    FORM STUFF
 */

.error-message {
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-left: 8px;
}

.basic-form > .field-row-stacked {
    width: fit-content;
    min-width: 150px;
}

input[type=file]::file-selector-button, input[type=button] {
    background: silver;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222;
    font-family: "Pixelated MS Sans Serif 16px", Arial, sans-serif;
}

input[type=file]::file-selector-button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222
}

/*
    SIDENAV STUFF
 */

#sidenav {
    width: 200px;
    margin: 2px;
    overflow-x: hidden;
}

.sidenav-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
}

.sidenav-body button {
    padding: 8px;
    width: 100%;
    font-weight: bold;

}

.sidenav-body a button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidenav-body a button:disabled {
    cursor: auto;
    text-decoration: none;
}

.bottom-nav-bar {
    display: none;
}

.start-menu-button {
    display: flex;
    align-items: center;
    padding: 2px 4px;
}

@media only screen and (max-width: 768px) {
    #sidenav {
        position: fixed;
        z-index: 1;
        bottom: 2.5rem;
    }

    .common-body {
        left: 4px;
        flex-direction: column;
    }

    .bottom-nav-bar {
        flex-direction: column;
        display: block;
        min-height: 2rem;
        flex-shrink: 0;
    }
        margin: 2px;
}

/*
    LOGIN PAGE STUFF
 */

.centered-container {
    max-width: 400px;
    margin: 2rem auto auto;
}

.login-form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;
}


/*
    STUFF I DON'T KNOW WHERE ELSE TO PUT
 */


.project-list {
    max-height: 20rem;
}

.ticket-list {
    max-height: 20rem;
}


.status-value {
    margin-left: 2px;
}

.small-sunken-table {
    max-width: 100%;
    min-width: 250px;
    width: min-content;
}


/**
    DASHBOARD STUFF
 */

.dashboard-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-direction: row;
    padding: 8px;
    max-width: 200px;
    width: 100%;
    flex-shrink: 1;
}

.statistic-icon {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.statistic-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.statistic-title {
    font-weight: bold;
}

.statistic-number {
    font-size: 64px;
    font-family: "Arial", sans-serif;
}

/*
    TICKET/PROJECT PAGE
 */

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.ticket-icon-number-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
}

.contract-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#success-message {
    padding: 8px 4px;
}

.collaborators-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
/*
    POPUP
 */

#popup-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#popup-window .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}